//default settings

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

//custom settings

//index 
.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}

//navbar

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  width: 100%;

  .nav-bar__logo {
    font-size: 24px;
    font-weight: bolder;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;

    li {
      font-size: 16px;
      font-weight: bolder;
    }
  }
}

//search bar

.search-bar {
  padding: 3% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;

  input:nth-child(1)  {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  };

  input:nth-child(3) {
    width: 100%;
    padding: 10px;
    border: 1px solid #0000FF;
    background-color: #0000FF;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    width: 20%;
  };

  input:nth-child(3):hover {
    background-color: #0000CC;
    cursor: pointer;
  };

  input:nth-child(3):active {
    background-color: #bebef7;
    cursor: pointer;
  }

}

//articles

.articles {
  padding: 3% 0 0 0;
  width: 80%;
}

.c-article {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
}

// Login form

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;

  .login-form__title {
    font-size: 24px;
    font-weight: bolder;
    padding: 10px 0;
  }

  .login-form__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
    width: 100%;

    input {
      width: 100%;
      padding: 0.5rem;
    }
  }

  .submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
    width: 100%;

    .login-form__button {
      padding: 10px;
      border: 1px solid #0000FF;
      background-color: #0000FF;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bolder;
      color: #fff;
      width: 50%;
      align-self: center;
    }

  }

  .login-form__button:hover {
    background-color: #0000CC;
    cursor: pointer;
  }

  .login-form__button:active {
    background-color: #bebef7;
    cursor: pointer;
  }

}